@-webkit-keyframes "opacity" {
	0% {
		opacity: 0;
		-webkit-transform: scale(3);
		transform: scale(3);
	}
	100% {
		opacity: 1;
		-webkit-transform: scale(1);
		transform: scale(1);
	}
}
@keyframes "opacity" {
	0% {
		opacity: 0;
		-webkit-transform: scale(3);
		transform: scale(3);
	}
	100% {
		opacity: 1;
		-webkit-transform: scale(1);
		transform: scale(1);
	}
}

a:hover{cursor:pointer;}
.body-row {
	margin-left: 0;
	margin-right: 0;
}
.fa-long-arrow-alt-right {
	padding: 10px;
	background: antiquewhite;
	text-align:center;
}
.fa-long-arrow-alt-down {
	padding: 10px;
	background: antiquewhite;
	text-align:center;
}

.nav-item>input{
padding: 5px;
    border: navajowhite;
    border-bottom: 1px solid chartreuse;

}

.list-group-item{
border:none;
}
.sidebar-container {
	background-color: white;
	padding: 0;
	z-index: 100000;
	.list-group {
		a {
			height: 50px;
			color: black;
		}
		.sidebar-submenu {
			a {
				height: 45px;
				padding-left: 30px;
			}
		}
		.list-group-item[aria-expanded="true"] {
			.submenu-icon {
				&::after {
					content: " \f0da";
					font-family: FontAwesome;
					display: inline;
					text-align: right;
					padding-left: 10px;
				}
			}
		}
	}
}
.sidebar-expanded {
	width: 230px;
}
.sidebar-collapsed {
	width: 60px;
}
.sidebar-submenu {
	font-size: 0.9rem;
}
.sidebar-separator-title {
	height: 35px;
}
.sidebar-separator {
	height: 25px;
}
.logo-separator {
	height: 60px;
}
#sidebar-container {
	.list-group {
		.list-group-item[aria-expanded="false"] {
			.submenu-icon {
				&::after {
					content: " \f0d7";
					font-family: FontAwesome;
					display: inline;
					text-align: right;
					padding-left: 10px;
				}
			}
		}
	}
}
.slider {
	-webkit-appearance: none;
	width: 100%;
	height: 25px;
	background: #d3d3d3;
	outline: none;
	opacity: 0.7;
	-webkit-transition: .2s;
	transition: opacity .2s;
	&:hover {
		opacity: 1;
	}
	&::-webkit-slider-thumb {
		-webkit-appearance: none;
		appearance: none;
		width: 25px;
		height: 25px;
		background: #4CAF50;
		cursor: pointer;
	}
	&::-moz-range-thumb {
		width: 25px;
		height: 25px;
		background: #4CAF50;
		cursor: pointer;
	}
}


.card-body {
	margin-top: -39px;
	background: white;
	width: 72%;
}
.card-text {
	width: 160%;
}
.card-text-inner {
	font-size: 10px;
	color: darkgrey;
}
.rating {
	float: left;
	display: inline-flex;
	font-size: 8px;
	margin-bottom: 15px;
	&:not(:checked) {
		>input {
			position: absolute;
			top: -9999px;
			clip: rect(0,0,0,0);
		}
		>label {
			float: right;
			width: 1em;
			overflow: hidden;
			white-space: nowrap;
			cursor: pointer;
			font-size: 300%;
			color: #ddd;
			&:before {
				content: '★ ';
			}
			&:hover {
				color: dodgerblue;
				~ {
					label {
						color: dodgerblue;
					}
				}
			}
		}
	}
	>input {
		&:checked {
			~ {
				label {
					color: dodgerblue;
					&:hover {
						color: dodgerblue;
						~ {
							label {
								color: dodgerblue;
							}
						}
					}
				}
			}
			+ {
				label {
					&:hover {
						color: dodgerblue;
						~ {
							label {
								color: dodgerblue;
							}
						}
					}
				}
			}
		}
	}
	>label {
		&:hover {
			~ {
				input {
					&:checked {
						~ {
							label {
								color: dodgerblue;
							}
						}
					}
				}
			}
		}
		&:active {
			position: relative;
			top: 2px;
			left: 2px;
		}
	}
}
body {
	font-family: 'open sans';
	overflow-x: hidden;
}
img {
	max-width: 100%;
}
.preview {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
}
.preview-pic {
	-webkit-box-flex: 1;
	-webkit-flex-grow: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
}
.preview-thumbnail.nav-tabs {
	border: none;
	margin-top: 15px;
	li {
		width: 18%;
		margin-right: 2.5%;
		img {
			max-width: 100%;
			display: block;
		}
		a {
			padding: 0;
			margin: 0;
		}
		&:last-of-type {
			margin-right: 0;
		}
	}
}
.tab-content {
	overflow: hidden;
	img {
		width: 100%;
		-webkit-animation-name: opacity;
		animation-name: opacity;
		-webkit-animation-duration: .3s;
		animation-duration: .3s;
	}
}
.card {
	margin-top: 50px;
	padding: 3em;
	line-height: 1.5em;
	border:none;
}
.details {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
}
.colors {
	-webkit-box-flex: 1;
	-webkit-flex-grow: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
	text-transform: UPPERCASE;
	font-weight: bold;
}
.product-title {
	text-transform: UPPERCASE;
	font-weight: bold;
	margin-bottom: 15px;
	margin-top: 0;
}
.price {
	text-transform: UPPERCASE;
	font-weight: bold;
	margin-bottom: 15px;
	span {
		color: #ff9f1a;
	}
}
.sizes {
	text-transform: UPPERCASE;
	font-weight: bold;
	margin-bottom: 15px;
}
.checked {
	color: #ff9f1a;
}
.product-description {
	margin-bottom: 15px;
}
.vote {
	margin-bottom: 15px;
}
.size {
	margin-right: 10px;
	&:first-of-type {
		margin-left: 40px;
	}
}
.page-link{color:black;}
.color {
	display: inline-block;
	vertical-align: middle;
	margin-right: 10px;
	height: 1em;
	width: 1em;
	border-radius: 50%;
}
.page-item:hover{color:#FFF;background-color:black;}

.add-to-cart {
	padding: 1.2em 1.5em;
	border: none;
	text-transform: UPPERCASE;
	font-weight: bold;
	-webkit-transition: background .3s ease;
	transition: background .3s ease;
	&:hover {
		background: #b36800;
		color: #fff;
	}
}
.like {
	background: #ff9f1a;
	padding: 1.2em 1.5em;
	border: none;
	text-transform: UPPERCASE;
	font-weight: bold;
	color: #fff;
	-webkit-transition: background .3s ease;
	transition: background .3s ease;
	&:hover {
		background: #b36800;
		color: #fff;
	}
}
.not-available {
	text-align: center;
	line-height: 2em;
	&:before {
		font-family: fontawesome;
		content: "\f00d";
		color: #fff;
	}
}
.orange {
	background: #ff9f1a;
}
.green {
	background: #85ad00;
}
.blue {
	background: #0076ad;
}
.tooltip-inner {
	padding: 1.3em;
}
@media screen and (max-width: 996px) {
	.preview {
		margin-bottom: 20px;
	}
}
@media screen and (min-width: 997px) {
	.wrapper {
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
	}
}
